<!DOCTYPE html>
<html>
<head>
  <title>Lenguajes y Automatas I - Analizador Lexico.</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div id="app">
      <h1 class="text-center">Lenguajes y Automatas I</h1>
      <h4 class="text-center">Analizador Lexico</h4>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <h3>Codigo</h3>
          <textarea class="form-control" ref="codigo" id="codigo" v-model="codigo" rows="18" placeholder="Escribe el codigo fuente a compilar." autofocus></textarea>
        </div>
        <div class="col-sm-6" style="height: 600px; overflow: auto;" v-if="tokens.length > 0">
          <h3>Tokens <span class="badge badge-pill badge-primary"><% tokens.length %></span></h3>
          <table class="table table-striped table-hover table-sm table-condensed">
            <thead class="thead-light text-center">
              <th>#</th>
              <th>Token</th>
              <th>Lexema</th>
            </thead>
            <tbody style="height: 600px; overflow: auto;">
              <tr class="text-center" v-for="(token, index) in tokens">
                <td> <% index + 1 %> </td>
                <td class="font-weight-bold"> <% token.token %> </td>
                <td class="font-weight-bold"> <% token.lexema %> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <div class="row" v-if="errores.length > 0">
        <div class="col-sm-12">
          <h4>Errores
            <span class="badge badge-pill badge-danger">
              <% errores.length %>
            </span>
          </h4>
          <p>
            <ol>
              <li class="text-danger" v-for="(error, index) in errores">
                <% error %>
              </li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="static/index.js"></script>
</body>
</html>
